<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div
        th:fragment="restaurant-card(restaurant)"
        th:attr="id=${'card-' + restaurant.id}"
        class="restaurant-card"
        th:onclick="'toggleDetails(\'card-' + ${restaurant.id} + '\')'"
>
    <div class="restaurant-item">
        <div th:text="${restaurant.name}"></div>
        <div class="city" th:text="${restaurant.city}"></div>
        <div class="rating">
            <span th:each="star : ${#numbers.sequence(1, 5)}"
                  th:classappend="${star <= restaurant.rating} ? 'fa fa-star star' : 'fa fa-star star empty'"></span>
        </div>
        <div class="is-open">
            <img th:src="@{${restaurant.isOpen()} ? '/assets/open.png' : '/assets/closed.png'}"
                 th:alt="${restaurant.isOpen()} ? 'Open' : 'Closed'">
        </div>
        <div class="actions">
            <div>
                <img th:src="@{/assets/info-blue.png}" alt="info">
            </div>
            <a th:href="@{'/restaurants/' + ${restaurant.id}}">
                <img th:src="@{/assets/open-link.png}" alt="open link">
            </a>
        </div>
    </div>
    <div class="restaurant-details">
        <div class="contact">
            <h5>Contact</h5>
            <div>
                <a th:href="@{'tel:' + ${restaurant.phone}}"><img th:src="@{/assets/phone-clean.png}" alt="phone"></a>
                <span th:text="${restaurant.phone}"></span>
            </div>
            <div>
                <a th:href="@{'mailto:' + ${restaurant.email}}"><img th:src="@{/assets/mail-clean.png}" alt="mail"></a>
                <span th:text="${restaurant.email}"></span>
            </div>
        </div>
        <div class="location">
            <h5>Location</h5>
            <div th:text="${restaurant.street}"></div>
            <div th:text="${restaurant.zip + ' ' + restaurant.city}"></div>
        </div>
        <div class="hours">
            <h5>Today</h5>
            <div th:if="${restaurant.getTodaysOpeningHour() != null}">
                <div th:if="${restaurant.getTodaysOpeningHour().openTime == null or restaurant.getTodaysOpeningHour().closeTime == null}">Closed</div>
                <div th:if="${restaurant.getTodaysOpeningHour().openTime != null and restaurant.getTodaysOpeningHour().closeTime != null}" th:text="${restaurant.getTodaysOpeningHour().openTime + ' - ' + restaurant.getTodaysOpeningHour().closeTime}"></div>
            </div>
        </div>
        <div class="actions">
            <a th:href="@{'/restaurants/' + ${restaurant.id} + '#menu'}">
            <img th:src="@{/assets/menu.png}" alt="menu-link">
            <button>Menu</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>
