<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Restaurant</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav th:replace="~{components/navbar :: navbar(activePage=${activePage})}"></nav>
<main>
    <h1 th:text="${restaurant.name}">Restaurant Name</h1>
    <p th:text="${restaurant.description}">Description</p>
    <p th:text="${restaurant.city}">City</p>
    <p th:text="${restaurant.rating}">Rating</p>
    <a th:href="'tel:' + ${restaurant.phone}">Call</a>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>