<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurants</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/css/restaurants.css}">
    <script th:src="@{js/restaurants.js}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav th:replace="~{components/navbar :: navbar(activePage=${activePage})}"></nav>
    <main>

        <section class="filter-restaurants">
            <form method="get" th:action="@{/restaurants}" class="filter-restaurants-form">
                <input type="hidden" name="pageNumber" th:value="${pageNumber}"/>
                <input type="hidden" name="pageSize" th:value="${page.size}"/>
                <div class="filter">
                    <input type="text" name="name" placeholder="Filter by name" th:value="${param.name != null ? param.name[0] : ''}">
                    <select name="city" id="city">
                        <option value="">Filter by city</option>
                        <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"
                                th:selected="${param.city != null ? param.city[0] == city : false}"></option>
                    </select>
                    <select name="isOpen" id="isOpen">
                        <option value="">Filter by status</option>
                        <option value="true" th:selected="${param.isOpen != null ? param.isOpen[0] == 'true' : false}">Open</option>
                        <option value="false" th:selected="${param.isOpen != null ? param.isOpen[0] == 'false' : false}">Closed</option>
                    </select>
                </div>

                <div class="filter-footer">
                    <div class="sort">
                        <select name="sortBy">
                            <option value="">-- Sort by --</option>
                            <option value="name" th:selected="${param.sortBy != null ? param.sortBy[0] == 'name' : false}">Name</option>
                            <option value="city" th:selected="${param.sortBy != null ? param.sortBy[0] == 'city' : false}">City</option>
                            <option value="rating" th:selected="${param.sortBy != null ? param.sortBy[0] == 'rating' : false}">Rating</option>
                        </select>
                        <select name="sortDir">
                            <option value="asc" th:selected="${param.sortDir != null ? param.sortDir[0] == 'asc' : false}">Ascending</option>
                            <option value="desc" th:selected="${param.sortDir != null ? param.sortDir[0] == 'desc' : false}">Descending</option>
                        </select>
                    </div>

                    <div class="actions">
                        <button class="btn-standard"><a th:href="@{/restaurants}" >Reset</a></button>
                        <button type="submit">Filter & Sort</button>
                    </div>
                </div>
            </form>
        </section>

        <section class="restaurants-results">
            <div th:text="${page.totalElements == 0 ? 'No results found...' :
                    page.totalElements == 1 ? 'Displaying 1 result...' :
                    'Displaying ' + (((pageNumber * pageSize) + 1) + '-' + (((pageNumber * pageSize) + page.content.size()) < page.totalElements ? ((pageNumber * pageSize) + page.content.size()) : page.totalElements)) + ' of ' + page.totalElements + ' results...'}">
            </div>
        </section>



        <section class="pagination" th:unless="${page.empty}">
            <ul>
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{/restaurants(pageNumber=${pageNumber - 1}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" aria-label="Previous">&laquo;</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="${i == pageNumber} ? 'active'">
                    <a th:href="@{/restaurants(pageNumber=${i}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" th:text="${i + 1}">1</a>
                </li>
                <li th:if="${page.hasNext()}">
                    <a th:href="@{/restaurants(pageNumber=${pageNumber + 1}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" aria-label="Next">&raquo;</a>
                </li>
            </ul>
        </section>

        <section class="restaurants-container" th:unless="${page.empty}">
            <div th:each="restaurant : ${restaurants}">
                <div th:insert="~{components/restaurants :: restaurant-card(restaurant=${restaurant})}"></div>
            </div>
        </section>

        <section class="pagination" th:unless="${page.empty}">
            <ul>
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{/restaurants(pageNumber=${pageNumber - 1}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" aria-label="Previous">&laquo;</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="${i == pageNumber} ? 'active'">
                    <a th:href="@{/restaurants(pageNumber=${i}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" th:text="${i + 1}">1</a>
                </li>
                <li th:if="${page.hasNext()}">
                    <a th:href="@{/restaurants(pageNumber=${pageNumber + 1}, size=${page.size}, name=${param.name}, city=${param.city}, isOpen=${param.isOpen}, sortBy=${param.sortBy}, sortDir=${param.sortDir})}" aria-label="Next">&raquo;</a>
                </li>
            </ul>
        </section>

    </main>
    <footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>
